h1{
    color:black
}
.progress-bar1{
    width:80%;
    background-color:rgb(215, 35, 35);
}
.progress-bar2{
    width:60%;
    background-color:rgb(0, 102, 255);
}
.progress-bar3{
    width:70%;
    background-color:rgb(255, 246, 82);
}
.progress-bar4{
    width:70%;
    background-color:rgb(210, 79, 254);
}
.progress-bar5{
    width:50%;
    background-color:rgb(78, 55, 255);
}
.para{
    background-color: rgb(227, 224, 224);
    margin: 0.5rem;
}
.skills{
    background-color: rgb(227, 224, 224);
    margin: 0.5rem;
}
.details{
    background-color: rgb(227, 224, 224);
    margin: 0.5rem;
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 2%;
}
.languages{
    background-color: rgb(227, 224, 224);
    margin: 0.5rem;
}
.certificate{
    background-color: rgb(227, 224, 224);
    margin: 0.5rem;
}
.a{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}
.b{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
.c{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}
.d{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}
.e{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; /* don't forget to set a duration! */
}
.f{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}
.g{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 6s; /* don't forget to set a duration! */
}
.h{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 6s; /* don't forget to set a duration! */
}
.css{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0.5rem;
    animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}


.about{
    padding-top: 52px;
}
